@font-face {
  font-family: 'fonticons';
  src: url('dapp-styles/icons/icomoon.eot?-hey0jf');
  src: url('dapp-styles/icons/icomoon.eot?#iefix-hey0jf') format('embedded-opentype'), url('dapp-styles/icons/icomoon.woff?-hey0jf') format('woff'), url('dapp-styles/icons/icomoon.ttf?-hey0jf') format('truetype'), url('dapp-styles/icons/icomoon.svg?-hey0jf#fonticons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'fonticons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: "\e71c";
}
.icon-phone:before {
  content: "\e60a";
}
.icon-mobile:before {
  content: "\e60b";
}
.icon-mouse:before {
  content: "\e60c";
}
.icon-directions:before {
  content: "\e60d";
}
.icon-mail:before {
  content: "\e60e";
}
.icon-paperplane:before {
  content: "\e60f";
}
.icon-pencil:before {
  content: "\e610";
}
.icon-feather:before {
  content: "\e611";
}
.icon-paperclip:before {
  content: "\e600";
}
.icon-drawer:before {
  content: "\e612";
}
.icon-reply:before {
  content: "\e613";
}
.icon-reply-all:before {
  content: "\e614";
}
.icon-forward:before {
  content: "\e615";
}
.icon-user:before {
  content: "\e616";
}
.icon-users:before {
  content: "\e617";
}
.icon-user-add:before {
  content: "\e618";
}
.icon-vcard:before {
  content: "\e619";
}
.icon-export:before {
  content: "\e61a";
}
.icon-location:before {
  content: "\e61b";
}
.icon-map:before {
  content: "\e61c";
}
.icon-compass:before {
  content: "\e61d";
}
.icon-location2:before {
  content: "\e61e";
}
.icon-target:before {
  content: "\e61f";
}
.icon-share:before {
  content: "\e620";
}
.icon-sharable:before {
  content: "\e621";
}
.icon-heart:before {
  content: "\e622";
}
.icon-heart2:before {
  content: "\e623";
}
.icon-star:before {
  content: "\e624";
}
.icon-star2:before {
  content: "\e625";
}
.icon-thumbsup:before {
  content: "\e626";
}
.icon-thumbsdown:before {
  content: "\e627";
}
.icon-chat:before {
  content: "\e628";
}
.icon-comment:before {
  content: "\e629";
}
.icon-quote:before {
  content: "\e62a";
}
.icon-house:before {
  content: "\e62b";
}
.icon-popup:before {
  content: "\e62c";
}
.icon-search:before {
  content: "\e62d";
}
.icon-flashlight:before {
  content: "\e62e";
}
.icon-printer:before {
  content: "\e62f";
}
.icon-bell:before {
  content: "\e630";
}
.icon-link:before {
  content: "\e631";
}
.icon-flag:before {
  content: "\e632";
}
.icon-cog:before {
  content: "\e633";
}
.icon-tools:before {
  content: "\e634";
}
.icon-trophy:before {
  content: "\e635";
}
.icon-tag:before {
  content: "\e636";
}
.icon-camera:before {
  content: "\e637";
}
.icon-megaphone:before {
  content: "\e638";
}
.icon-moon:before {
  content: "\e639";
}
.icon-palette:before {
  content: "\e63a";
}
.icon-leaf:before {
  content: "\e63b";
}
.icon-music:before {
  content: "\e63c";
}
.icon-music2:before {
  content: "\e63d";
}
.icon-new:before {
  content: "\e63e";
}
.icon-graduation:before {
  content: "\e63f";
}
.icon-book:before {
  content: "\e640";
}
.icon-newspaper:before {
  content: "\e603";
}
.icon-bag:before {
  content: "\e641";
}
.icon-airplane:before {
  content: "\e642";
}
.icon-lifebuoy:before {
  content: "\e643";
}
.icon-eye:before {
  content: "\e644";
}
.icon-clock:before {
  content: "\e645";
}
.icon-microphone:before {
  content: "\e646";
}
.icon-calendar:before {
  content: "\e604";
}
.icon-bolt:before {
  content: "\e647";
}
.icon-thunder:before {
  content: "\e648";
}
.icon-droplet:before {
  content: "\e649";
}
.icon-cd:before {
  content: "\e64a";
}
.icon-briefcase:before {
  content: "\e64b";
}
.icon-air:before {
  content: "\e64c";
}
.icon-hourglass:before {
  content: "\e64d";
}
.icon-gauge:before {
  content: "\e64e";
}
.icon-language:before {
  content: "\e64f";
}
.icon-network:before {
  content: "\e650";
}
.icon-key:before {
  content: "\e651";
}
.icon-battery:before {
  content: "\e652";
}
.icon-bucket:before {
  content: "\e653";
}
.icon-magnet:before {
  content: "\e654";
}
.icon-drive:before {
  content: "\e655";
}
.icon-cup:before {
  content: "\e656";
}
.icon-rocket:before {
  content: "\e608";
}
.icon-brush:before {
  content: "\e657";
}
.icon-suitcase:before {
  content: "\e658";
}
.icon-cone:before {
  content: "\e659";
}
.icon-earth:before {
  content: "\e65a";
}
.icon-keyboard:before {
  content: "\e65b";
}
.icon-browser:before {
  content: "\e65c";
}
.icon-publish:before {
  content: "\e65d";
}
.icon-progress-3:before {
  content: "\e65e";
}
.icon-progress-2:before {
  content: "\e65f";
}
.icon-brogress-1:before {
  content: "\e660";
}
.icon-progress-0:before {
  content: "\e661";
}
.icon-sun:before {
  content: "\e662";
}
.icon-sun2:before {
  content: "\e663";
}
.icon-adjust:before {
  content: "\e664";
}
.icon-code:before {
  content: "\e665";
}
.icon-screen:before {
  content: "\e666";
}
.icon-infinity:before {
  content: "\e667";
}
.icon-light-bulb:before {
  content: "\e668";
}
.icon-creditcard:before {
  content: "\e669";
}
.icon-database:before {
  content: "\e66a";
}
.icon-voicemail:before {
  content: "\e66b";
}
.icon-clipboard:before {
  content: "\e66c";
}
.icon-cart:before {
  content: "\e66d";
}
.icon-box:before {
  content: "\e66e";
}
.icon-ticket:before {
  content: "\e66f";
}
.icon-rss:before {
  content: "\e670";
}
.icon-signal:before {
  content: "\e671";
}
.icon-thermometer:before {
  content: "\e672";
}
.icon-droplets:before {
  content: "\e673";
}
.icon-uniE674:before {
  content: "\e674";
}
.icon-statistics:before {
  content: "\e605";
}
.icon-pie:before {
  content: "\e607";
}
.icon-bars:before {
  content: "\e675";
}
.icon-graph:before {
  content: "\e606";
}
.icon-lock:before {
  content: "\e676";
}
.icon-lock-open:before {
  content: "\e677";
}
.icon-logout:before {
  content: "\e678";
}
.icon-login:before {
  content: "\e679";
}
.icon-checkmark:before {
  content: "\e67a";
}
.icon-cross:before {
  content: "\e67b";
}
.icon-minus:before {
  content: "\e67c";
}
.icon-plus:before {
  content: "\e67d";
}
.icon-cross2:before {
  content: "\e67e";
}
.icon-minus2:before {
  content: "\e67f";
}
.icon-plus2:before {
  content: "\e680";
}
.icon-cross3:before {
  content: "\e681";
}
.icon-minus3:before {
  content: "\e682";
}
.icon-plus3:before {
  content: "\e683";
}
.icon-erase:before {
  content: "\e684";
}
.icon-blocked:before {
  content: "\e685";
}
.icon-info:before {
  content: "\e686";
}
.icon-info2:before {
  content: "\e687";
}
.icon-question:before {
  content: "\e688";
}
.icon-help:before {
  content: "\e689";
}
.icon-warning:before {
  content: "\e68a";
}
.icon-cycle:before {
  content: "\e68b";
}
.icon-cw:before {
  content: "\e68c";
}
.icon-ccw:before {
  content: "\e68d";
}
.icon-shuffle:before {
  content: "\e68e";
}
.icon-arrow:before {
  content: "\e68f";
}
.icon-arrow2:before {
  content: "\e690";
}
.icon-retweet:before {
  content: "\e691";
}
.icon-loop:before {
  content: "\e692";
}
.icon-history:before {
  content: "\e693";
}
.icon-back:before {
  content: "\e694";
}
.icon-switch:before {
  content: "\e695";
}
.icon-list:before {
  content: "\e696";
}
.icon-add-to-list:before {
  content: "\e697";
}
.icon-layout:before {
  content: "\e698";
}
.icon-list2:before {
  content: "\e609";
}
.icon-text:before {
  content: "\e699";
}
.icon-text2:before {
  content: "\e69a";
}
.icon-document:before {
  content: "\e69b";
}
.icon-docs:before {
  content: "\e69c";
}
.icon-landscape:before {
  content: "\e69d";
}
.icon-pictures:before {
  content: "\e69e";
}
.icon-video:before {
  content: "\e69f";
}
.icon-music3:before {
  content: "\e6a0";
}
.icon-folder:before {
  content: "\e6a1";
}
.icon-archive:before {
  content: "\e6a2";
}
.icon-trash:before {
  content: "\e6a3";
}
.icon-upload:before {
  content: "\e6a4";
}
.icon-download:before {
  content: "\e6a5";
}
.icon-disk:before {
  content: "\e6a6";
}
.icon-install:before {
  content: "\e6a7";
}
.icon-cloud:before {
  content: "\e6a8";
}
.icon-upload2:before {
  content: "\e6a9";
}
.icon-bookmark:before {
  content: "\e6aa";
}
.icon-bookmarks:before {
  content: "\e6ab";
}
.icon-book2:before {
  content: "\e6ac";
}
.icon-play:before {
  content: "\e6ad";
}
.icon-pause:before {
  content: "\e6ae";
}
.icon-record:before {
  content: "\e6af";
}
.icon-stop:before {
  content: "\e6b0";
}
.icon-next:before {
  content: "\e6b1";
}
.icon-previous:before {
  content: "\e6b2";
}
.icon-first:before {
  content: "\e6b3";
}
.icon-last:before {
  content: "\e6b4";
}
.icon-resize-enlarge:before {
  content: "\e6b5";
}
.icon-resize-shrink:before {
  content: "\e6b6";
}
.icon-volume:before {
  content: "\e6b7";
}
.icon-sound:before {
  content: "\e6b8";
}
.icon-mute:before {
  content: "\e6b9";
}
.icon-flow-cascade:before {
  content: "\e6ba";
}
.icon-flow-branch:before {
  content: "\e6bb";
}
.icon-flow-tree:before {
  content: "\e6bc";
}
.icon-flow-line:before {
  content: "\e6bd";
}
.icon-flow-parallel:before {
  content: "\e6be";
}
.icon-arrow-left:before {
  content: "\e6bf";
}
.icon-arrow-down:before {
  content: "\e6c0";
}
.icon-arrow-up-upload:before {
  content: "\e6c1";
}
.icon-arrow-right:before {
  content: "\e6c2";
}
.icon-arrow-left2:before {
  content: "\e6c3";
}
.icon-arrow-down2:before {
  content: "\e6c4";
}
.icon-arrow-up:before {
  content: "\e6c5";
}
.icon-arrow-right2:before {
  content: "\e6c6";
}
.icon-arrow-left3:before {
  content: "\e6c7";
}
.icon-arrow-down3:before {
  content: "\e6c8";
}
.icon-arrow-up2:before {
  content: "\e6c9";
}
.icon-arrow-right3:before {
  content: "\e6ca";
}
.icon-arrow-left4:before {
  content: "\e6cb";
}
.icon-arrow-down4:before {
  content: "\e6cc";
}
.icon-arrow-up3:before {
  content: "\e6cd";
}
.icon-arrow-right4:before {
  content: "\e6ce";
}
.icon-arrow-left5:before {
  content: "\e6cf";
}
.icon-arrow-down5:before {
  content: "\e601";
}
.icon-arrow-up4:before {
  content: "\e6d0";
}
.icon-arrow-right5:before {
  content: "\e6d1";
}
.icon-arrow-left6:before {
  content: "\e6d2";
}
.icon-arrow-down6:before {
  content: "\e6d3";
}
.icon-arrow-up5:before {
  content: "\e6d4";
}
.icon-arrow-right6:before {
  content: "\e6d5";
}
.icon-arrow-left7:before {
  content: "\e6d6";
}
.icon-arrow-down22:before {
  content: "\e602";
}
.icon-arrow-up6:before {
  content: "\e6d7";
}
.icon-uniE6D8:before {
  content: "\e6d8";
}
.icon-arrow-left8:before {
  content: "\e6d9";
}
.icon-arrow-down7:before {
  content: "\e6da";
}
.icon-arrow-up7:before {
  content: "\e6db";
}
.icon-arrow-right7:before {
  content: "\e6dc";
}
.icon-menu2:before {
  content: "\e6dd";
}
.icon-ellipsis:before {
  content: "\e6de";
}
.icon-dots:before {
  content: "\e6df";
}
.icon-dot:before {
  content: "\e6e0";
}
.icon-cc:before {
  content: "\e6e1";
}
.icon-cc-by:before {
  content: "\e6e2";
}
.icon-cc-nc:before {
  content: "\e6e3";
}
.icon-cc-nc-eu:before {
  content: "\e6e4";
}
.icon-cc-nc-jp:before {
  content: "\e6e5";
}
.icon-cc-sa:before {
  content: "\e6e6";
}
.icon-cc-nd:before {
  content: "\e6e7";
}
.icon-cc-pd:before {
  content: "\e6e8";
}
.icon-cc-zero:before {
  content: "\e6e9";
}
.icon-cc-share:before {
  content: "\e6ea";
}
.icon-cc-share2:before {
  content: "\e6eb";
}
.icon-danielbruce:before {
  content: "\e6ec";
}
.icon-danielbruce2:before {
  content: "\e6ed";
}
.icon-github:before {
  content: "\e6ee";
}
.icon-github2:before {
  content: "\e6ef";
}
.icon-flickr:before {
  content: "\e6f0";
}
.icon-flickr2:before {
  content: "\e6f1";
}
.icon-vimeo:before {
  content: "\e6f2";
}
.icon-vimeo2:before {
  content: "\e6f3";
}
.icon-twitter:before {
  content: "\e6f4";
}
.icon-twitter2:before {
  content: "\e6f5";
}
.icon-facebook:before {
  content: "\e6f6";
}
.icon-facebook2:before {
  content: "\e6f7";
}
.icon-facebook3:before {
  content: "\e6f8";
}
.icon-googleplus:before {
  content: "\e6f9";
}
.icon-googleplus2:before {
  content: "\e6fa";
}
.icon-pinterest:before {
  content: "\e6fb";
}
.icon-pinterest2:before {
  content: "\e6fc";
}
.icon-tumblr:before {
  content: "\e6fd";
}
.icon-tumblr2:before {
  content: "\e6fe";
}
.icon-linkedin:before {
  content: "\e6ff";
}
.icon-linkedin2:before {
  content: "\e700";
}
.icon-dribbble:before {
  content: "\e701";
}
.icon-dribbble2:before {
  content: "\e702";
}
.icon-stumbleupon:before {
  content: "\e703";
}
.icon-stumbleupon2:before {
  content: "\e704";
}
.icon-lastfm:before {
  content: "\e705";
}
.icon-lastfm2:before {
  content: "\e706";
}
.icon-rdio:before {
  content: "\e707";
}
.icon-rdio2:before {
  content: "\e708";
}
.icon-spotify:before {
  content: "\e709";
}
.icon-spotify2:before {
  content: "\e70a";
}
.icon-qq:before {
  content: "\e70b";
}
.icon-instagram:before {
  content: "\e70c";
}
.icon-dropbox:before {
  content: "\e70d";
}
.icon-evernote:before {
  content: "\e70e";
}
.icon-flattr:before {
  content: "\e70f";
}
.icon-skype:before {
  content: "\e710";
}
.icon-skype2:before {
  content: "\e711";
}
.icon-renren:before {
  content: "\e712";
}
.icon-sina-weibo:before {
  content: "\e713";
}
.icon-paypal:before {
  content: "\e714";
}
.icon-picasa:before {
  content: "\e715";
}
.icon-soundcloud:before {
  content: "\e716";
}
.icon-mixi:before {
  content: "\e717";
}
.icon-behance:before {
  content: "\e718";
}
.icon-circles:before {
  content: "\e719";
}
.icon-vk:before {
  content: "\e71a";
}
.icon-smashing:before {
  content: "\e71b";
}
/*! normalize.css v1.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('dapp-styles/fonts/SourceSansPro-ExtraLight.otf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('dapp-styles/fonts/SourceSansPro-ExtraLightIt.otf');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('dapp-styles/fonts/SourceSansPro-Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('dapp-styles/fonts/SourceSansPro-Regular.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('dapp-styles/fonts/SourceSansPro-Semibold.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('dapp-styles/fonts/SourceSansPro-Bold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('dapp-styles/fonts/Montserrat-Regular.otf');
  font-weight: 400;
  font-style: normal;
}
.dapp-clear-fix {
  clear: both;
}
.dapp-overflow {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.dapp-shorten-text {
  display: inline-block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
.dapp-button-reset {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.dapp-button-reset:hover,
.dapp-button-reset:focus {
  outline: 0;
}
.dapp-shadow-none {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.dapp-shadow-small {
  -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
}
.dapp-shadow-medium {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.dapp-shadow-large {
  -webkit-box-shadow: 0 1px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.3);
}
.dapp-horizontal-menu,
.dapp-vertical-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.dapp-horizontal-menu li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.dapp-vertical-menu li {
  display: block;
  padding: 0;
  margin: 0;
}
.cubic-bezier {
  -webkit-transition-timing-function: cubic-bezier(0.15, 0.3, 0.1, 1);
  -moz-transition-timing-function: cubic-bezier(0.15, 0.3, 0.1, 1);
  -o-transition-timing-function: cubic-bezier(0.15, 0.3, 0.1, 1);
  transition-timing-function: cubic-bezier(0.15, 0.3, 0.1, 1);
}
.cubic-bezier.animate {
  -webkit-transition-timing-function: cubic-bezier(0.5, 0.1, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.5, 0.1, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.5, 0.1, 0.2, 1);
  transition-timing-function: cubic-bezier(0.5, 0.1, 0.2, 1);
}
#dapp-form-helper-iframe {
  display: none;
}
.dapp-profile-image {
  display: inline-block;
  width: 64px;
  height: 64px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-positon: 50% 50%;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 0 2px 2px, inset rgba(0, 0, 0, 0.9) 0 -1px 8px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 0 2px 2px, inset rgba(0, 0, 0, 0.9) 0 -1px 8px;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0 2px 2px, inset rgba(0, 0, 0, 0.9) 0 -1px 8px;
}
.dapp-profile-image.dapp-small {
  width: 32px;
  height: 32px;
}
.dapp-profile-image.dapp-medium {
  width: 48px;
  height: 48px;
}
.dapp-message {
  position: relative;
  max-width: 512px;
  margin: 48px 0;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 27pt;
}
.dapp-count {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 8px;
  color: #fafafa;
  font-weight: 100;
  zoom: 1;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
}
.dapp-count.animate {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.active .dapp-count {
  background-color: #f5f4f2;
  color: #022537;
}
.dapp-modal-buttons {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-top: 16px;
}
.dapp-modal-buttons button,
.dapp-modal-buttons a,
.dapp-modal-buttons a:visited {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 8px;
  height: 36.8px;
  line-height: 36.8px;
  font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, Sans;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 400;
}
.dapp-modal-buttons button.dapp-primary-button,
.dapp-modal-buttons a.dapp-primary-button,
.dapp-modal-buttons a:visited.dapp-primary-button {
  font-weight: 600;
}
a,
a:visited,
button {
  text-decoration: none;
  color: #6691c2;
  outline: 0;
}
a:hover,
a:visited:hover,
button:hover,
a:focus,
a:visited:focus,
button:focus {
  outline: 0;
}
a:active,
a:visited:active,
button:active {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
button {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-weight: inherit;
}
button:hover,
button:focus {
  outline: 0;
}
hr {
  border: 0;
  height: 0;
  background-color: transparent;
  border-bottom: 1px solid #e3e2d5;
}
h1 {
  margin: 16px 0;
  margin-bottom: 48px;
  font-weight: 100;
  font-size: 2.2em;
  color: #827a7a;
}
h1 span {
  font-weight: 500;
}
h1 + h2 {
  margin-top: 0;
}
h2 {
  display: inline-block;
  padding: 0 8px;
  padding-bottom: 1px;
  margin: 48px 0;
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
  background: #827a7a;
  color: #fafafa;
  font-family: 'Montserrat';
  font-weight: 400;
}
h2 + table {
  margin-top: 0;
}
h3 {
  margin: 16px 0;
  padding: 0;
  color: #827a7a;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
}
table {
  width: 100%;
  margin: 16px 0;
}
table + h2,
table + h3 {
  margin-top: 32px;
}
table tbody tr:nth-child(odd) {
  background-color: rgba(227, 226, 213, 0.3);
}
table tbody tr td span {
  display: inline-block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
input,
select,
textarea {
  padding: 9.2px 16px;
  background-color: transparent;
  border: 0;
  font-size: 1em;
  font-weight: 300;
  width: 250px;
  color: #6691c2;
  margin-top: 18.4px;
  background: #f5f4f2;
  border-bottom: solid 2px #e3e2d5;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #6691c2;
}
input:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  color: #6691c2;
}
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #6691c2;
}
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #6691c2;
}
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}
:disabled {
  color: #8e8a5e;
}
label {
  font-weight: 300;
}
fieldset {
  border: 0;
  padding: 0;
  margin: 16px;
}
select {
  height: 45px;
}
body {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  font: 100 16px 'Source Sans Pro', 'Helvetica Neue', arial, sans-serif;
  color: #111111;
}
body.disable-scroll {
  overflow: hidden;
}
body.blur .dapp-flex-content,
body.blur .dapp-footer {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}
.dapp-grid {
  z-index: 999;
  background: #ffffff url('dapp-styles/hex-grid-tile.png');
  background-size: 64px 111px;
  position: absolute;
  min-height: 100%;
  left: 0;
  right: 0;
  opacity: 0.05;
  pointer-events: none;
}
.dapp-header,
.dapp-aside,
.dapp-content,
.dapp-footer {
  position: relative;
  padding: 18.4px 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dapp-header {
  height: 128px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmYmZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q5ZDBkMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #fbfafa 0, #d9d0d0 100px);
  background-image: -moz-linear-gradient(top, #fbfafa 0, #d9d0d0 100px);
  background-image: -o-linear-gradient(top, #fbfafa 0, #d9d0d0 100px);
  background-image: linear-gradient(to bottom, #fbfafa 0, #d9d0d0 100px);
}
.dapp-header nav {
  position: absolute;
  bottom: 0;
}
.dapp-header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.dapp-header nav ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.dapp-header nav ul a {
  display: inline-block;
  padding: 9.2px 32px;
  text-align: center;
}
.dapp-header nav ul a.active {
  color: #ab9898;
  border-bottom: 5px solid #fafafa;
}
.dapp-header nav ul a.active {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.dapp-header nav ul a i {
  font-size: 1.5em;
}
.dapp-header nav ul a span {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
}
.dapp-footer {
  height: 96px;
  background-color: #111111;
}
.dapp-flex-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.dapp-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #fafafa;
}
.dapp-content.dapp-has-header {
  padding-top: 175.2px;
}
.dapp-content .dapp-content-header {
  position: fixed;
  top: 0;
  width: 80%;
  min-height: 36.8px;
  padding: 18.4px 16px;
  margin-left: -32px;
  background: rgba(245, 244, 242, 0.8);
  z-index: 10;
  line-height: 36.8px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dapp-aside {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 224px;
  -ms-flex: 0 0 224px;
  flex: 0 0 224px;
  padding-right: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwNzk3ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA1NjY5YSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #0797e4 0, #05669a 100px);
  background-image: -moz-linear-gradient(top, #0797e4 0, #05669a 100px);
  background-image: -o-linear-gradient(top, #0797e4 0, #05669a 100px);
  background-image: linear-gradient(to bottom, #0797e4 0, #05669a 100px);
  -webkit-transition: flex 400ms;
  -moz-transition: flex 400ms;
  -o-transition: flex 400ms;
  transition: flex 400ms;
}
.dapp-aside nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 18.4px;
}
.dapp-aside nav ul li {
  display: block;
  padding: 0;
  margin: 0;
}
.dapp-aside nav ul li a,
.dapp-aside nav ul li a:visited,
.dapp-aside nav ul li button {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  min-height: 73.6px;
  max-height: 92px;
  padding: 18.4px 32px;
  padding-left: 10.66666667px;
  overflow: hidden;
  border-top: #044c72 solid 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px 0 0 3px;
  -moz-background-clip: padding;
  border-radius: 3px 0 0 3px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fafafa;
  font-weight: 300;
  line-height: 20px;
}
.dapp-aside nav ul li a:active,
.dapp-aside nav ul li a:visited:active,
.dapp-aside nav ul li button:active {
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -o-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}
.dapp-aside nav ul li a > i,
.dapp-aside nav ul li a:visited > i,
.dapp-aside nav ul li button > i {
  margin-right: 4px;
}
.dapp-aside nav ul li a > span,
.dapp-aside nav ul li a:visited > span,
.dapp-aside nav ul li button > span {
  max-width: 115px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dapp-aside nav ul li .dapp-main-button {
  position: relative;
  width: 100%;
  margin-bottom: 73.6px;
  -webkit-border-radius: 3px 0 0 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px 0 0 3px;
  -moz-background-clip: padding;
  border-radius: 3px 0 0 3px;
  background-clip: padding-box;
  background: #044c72;
  border-top: none;
}
.dapp-aside nav ul li .dapp-main-button i {
  position: absolute;
  right: 8px;
  top: 27.6px;
}
.dapp-aside nav ul li.active a {
  background: #FFF;
  border-top: none;
  color: #044c72;
  font-weight: 500;
}
.dapp-aside nav ul li:first-child a,
.dapp-aside nav ul li.active + li > a,
.dapp-aside nav ul li.dapp-main-button + li {
  border-top: 0;
}
.dapp-actionbar {
  z-index: 20;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 64px;
  -ms-flex: 0 0 64px;
  flex: 0 0 64px;
  background: #fafafa;
}
.dapp-actionbar nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.dapp-actionbar nav ul li {
  display: block;
  padding: 0;
  margin: 0;
}
.dapp-actionbar nav ul li {
  margin: 16px 0;
  color: #6691c2;
  position: relative;
  overflow: hidden;
  text-align: center;
  -webkit-transition: height 400ms;
  -moz-transition: height 400ms;
  -o-transition: height 400ms;
  transition: height 400ms;
}
.dapp-actionbar nav ul li button,
.dapp-actionbar nav ul li a,
.dapp-actionbar nav ul li a:visited {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  color: #111111;
  color: #0e73b8;
  font-size: 0.8em;
  font-weight: 400;
}
.dapp-actionbar nav ul li button:hover,
.dapp-actionbar nav ul li a:hover,
.dapp-actionbar nav ul li a:visited:hover,
.dapp-actionbar nav ul li button:focus,
.dapp-actionbar nav ul li a:focus,
.dapp-actionbar nav ul li a:visited:focus {
  outline: 0;
}
.dapp-actionbar nav ul li button:active,
.dapp-actionbar nav ul li a:active,
.dapp-actionbar nav ul li a:visited:active {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.dapp-actionbar nav ul li button:hover,
.dapp-actionbar nav ul li a:hover,
.dapp-actionbar nav ul li a:visited:hover {
  opacity: 0.9;
}
.dapp-actionbar nav ul li button i,
.dapp-actionbar nav ul li a i,
.dapp-actionbar nav ul li a:visited i {
  font-size: 2em;
  display: block;
}
.dapp-modal-overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background: rgba(6, 74, 128, 0.5);
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
}
.dapp-modal-overlay.animate {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.dapp-modal-overlay.animate .dapp-modal-container {
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -o-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}
.dapp-modal-container {
  position: relative;
  width: 448px;
  margin: 110.4px auto;
  padding: 18.4px 32px;
  background: #fafafa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  text-align: center;
  -webkit-transition: -webkit-transform 400ms;
  -moz-transition: -moz-transform 400ms;
  -o-transition: -o-transform 400ms;
  transition: -webkit-transform 400ms,-moz-transform 400ms,-o-transform 400ms,transform 400ms;
}
.dapp-modal-container .dapp-modal-header {
  position: relative;
  padding: 36.8px 0;
  margin: -18.4px -32px;
  margin-bottom: 18.4px;
  -webkit-border-radius: 2px 2px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px 2px 0 0;
  -moz-background-clip: padding;
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  color: #111111;
  line-height: 36.8px;
  text-align: center;
}
.dapp-modal-container .dapp-modal-header.dapp-pattern {
  color: #fafafa;
}
.dapp-modal-container .dapp-modal-header h1 {
  margin: 0;
}
.dapp-modal-container .dapp-modal-header .dapp-profile-image {
  position: absolute;
  top: -36.8px;
  left: 50%;
  margin-left: -32px;
}
.dapp-modal-container p {
  margin: 36.8px 0;
  line-height: 22.08px;
  font-size: 1.2em;
}
.dapp-icon-button {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  color: #111111;
}
.dapp-icon-button:hover,
.dapp-icon-button:focus {
  outline: 0;
}
.dapp-icon-button:active {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.dapp-icon-button:hover {
  opacity: 0.9;
}
.dapp-block-button,
.dapp-block-button:visited {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 36.8px;
  padding: 4.6px 10.66666667px;
  background: #6691c2;
  color: #fafafa;
  border-bottom: solid 2px #5484bb;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  display: inline-block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, Sans;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}
.dapp-block-button:hover,
.dapp-block-button:visited:hover,
.dapp-block-button:focus,
.dapp-block-button:visited:focus {
  outline: 0;
}
.dapp-block-button i,
.dapp-block-button:visited i {
  position: relative;
  top: 2px;
}
.dapp-tag-button {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 4.6px 8px;
  background: #e3e2d5;
  color: #111111;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  display: inline-block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  font-size: 0.7em;
}
.dapp-tag-button:hover,
.dapp-tag-button:focus {
  outline: 0;
}
.dapp-tag-button.active {
  background: #6691c2;
  color: #fafafa;
}
/* #### All small screens #### */
/* #### All small tablets screens #### */
/* #### All small phone screens landscape #### */
@media screen and (max-width: 576px) {
  aside.dapp-main {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 64px;
    -ms-flex: 0 0 64px;
    flex: 0 0 64px;
  }
}
/* #### All small phone screens porttrait #### */
/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  body {
    font-size: 14px;
  }
}
/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  body {
    font-size: 15px;
  }
}
/* #### Mobile Phones Portrait or Landscape #### */
/* #### iPhone 4+ Portrait or Landscape #### */
/* #### Tablets Portrait #### */
/* #### Tablets Landscape #### */
/* #### Desktops #### */
