ul,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.browse {
  .row {
    margin: 0 -10px;
  }
}

.campaign {
  &.simple {
    padding-bottom: 1em;
    .inner {
      box-shadow: 0px 0px 10px -6px black;
    }
  }
}
